# QStash
QSTASH_URL=
QSTASH_TOKEN=
QSTASH_CURRENT_SIGNING_KEY=

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
S3_BUCKET=

# AssemblyAI
ASSEMBLYAI_API_KEY=

# Groq
GROQ_API_KEY=

# OpenAI
OPEN_AI_KEY=

# Pinecone
PINECONE_DB_KEY=
PINECONE_INDEX=

# QuickBase
QB_REALM=
QB_USER_TOKEN=

# Postmark
POSTMARK_SERVER=

# Genie
GENIE_AUTH=
GENIE_AUTH_TWO=
GENIE_BASE_URL=
GENIE_PRIMARY_ACCOUNT=
GENIE_SECONDARY_ACCOUNT=

# App
SELF_URL=
KV_SERVICE_URL=
DENO_KV_URL=
ALERT_EMAIL=
FROM_EMAIL=
PORT=8000
DENO_KV_PATH=
LOCAL_QUEUE=false
